# Question 1

In [41]:
def shut_down(insert):
    if insert =="yes":
        return "shutting down"
    elif insert == "no":
        return "shutdown aborted"
    else:
        return "Sorry, such argument is not welcome"
    
insert = input("are you sure? ", )
shut_down(insert)

are you sure? no

'shutdown aborted'

#  Question 2

In [35]:
Names=input("type in employee name: ", ),input("type in employee name: ", )
salary=input("type in salary required for employee: ", ),input("type in salary required for employee: ", )

type in employee name:
type in employee name:
type in salary required for employee:
type in salary required for employee:

In [36]:
tab = {'Names' : Names,'salary' : salary}

In [37]:
tab

{'Names': ('', ''), 'salary': ('', '')}

In [38]:
import pandas

In [39]:
dir (pandas)

['BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__getattr__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_hashtable',
 '_is_numpy_dev',
 '_lib',
 '_libs',
 '_np_version_under1p16',
 '_np_version_under1p17',
 '_np_version_under1p18',
 '_testing',
 '_tslib',
 '_typing',
 '_version',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [40]:
data = pandas.DataFrame(tab)

In [41]:
data

  Names salary
0
1

# Question 3

In [ ]:
def cube(number):
    z = number**3
    print(z)
    
number=float(input("input number: ", ))
cube(number)

def by_three(number):
    if number%3==0:
        result = cube(number)
    else:
        return false

# Question 4

In [ ]:
def count_upper_lower(string):
    lowercase_letter_count = 0
    uppercase_letter_count = 0
    
    for letter in string:
        if letter.isupper():
            uppercase_letter_count += 1
        elif letter.islower():
            lowercase_letter_count += 1
            
    print ("Number of uppercase letters: ", uppercase_letter_count)
    print ("Number of lowercase letters: ", lowercase_letter_count)
    
    
count_upper_lower(input("type in any word with uppercase and lowercase: ",  ))